<%= link_to product_path(product.id) do %>
 <h3>
   <%= number_to_currency(product.formatted_price) %>
   <%= product.name %>
 </h3>
<% end %>
<!-- keeps the description to 100 characters or less -->
<p><%= truncate(product.description, length: 200) %></p>